.highlight {
  position: relative;
}

.highlight::after {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 7px;
  height: 8px;
  mix-blend-mode: multiply;
  background-color: #97fce5;
  content: "";
}
