.modal_container{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background: rgba(255, 255, 255, 0.25);
    z-index:10;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.modal_content{
    width:400px;
    height:500px;
    position:relative;
    border:1px solid rgba(255,255,255,0.18);
    border-radius:10px;
    background:rgba(69,139,197,0.70);
}

.modal_main_title{
    display:flex;
    justify-content: space-between;

}

.modal_title{
    padding:0;
    margin:0;
    font-size:16px;
    line-height:20px;
}